.correct {
    background-color: #6aaa64;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}

.wrong-pos {
    background-color: #c8b458;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}

.wrong {
    background-color: #787c7e;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}