
* {
    box-sizing: border-box;
  }

button, .tile {
    touch-action: manipulation;
}
  
.correct {
    background-color: #6aaa64;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}

.wrong-pos {
    background-color: #c8b458;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}

.wrong {
    background-color: #787c7e;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}

/* ===== MOBILE RESPONSIVE FIX ===== */
@media (max-width: 600px) {

    .wrapper {
      width: 100%;
      padding: 0 15px;
    }
  
    .simon {
      float: none;
      margin: 0 auto;
      width: 80vw;
      height: 80vw;
      max-width: 320px;
      max-height: 320px;
    }
  
    /* Make tiles scale with the board */
    .red, .blue, .yellow, .green {
      width: 100%;
      height: 100%;
    }
  
    .red { clip: rect(0px, 50%, 50%, 50%); }
    .blue { clip: rect(0px, 50%, 50%, 0px); }
    .yellow { clip: rect(50%, 50%, 100%, 0px); }
    .green { clip: rect(50%, 100%, 100%, 50%); }
  
    .game-info {
      margin-top: 30px;
      text-align: center;
    }
  
    .game-info button {
      width: 100%;
      max-width: 250px;
      font-size: 1.2em;
    }
  
    .game-options {
      text-align: center;
      font-size: 0.95em;
    }
  
    h1 {
      font-size: 1.5em;
      margin: 0.5em 0 1em;
    }
  
  }
  