.correct {
    background-color: #6aaa64;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}

.wrong-pos {
    background-color: #c8b458;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}

.wrong {
    background-color: #787c7e;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}


#simon-game {
    display: flex;
    flex-direction: column; /* Stack the child elements vertically */
    align-items: center; /* Center align the content horizontally */
    gap: 20px; /* Add spacing between the modules */
  }
  
  .wrapper {
    width: 100%; /* Ensure the game board takes full width */
    text-align: center; /* Center the content inside */
  }
  
  .game-controls {
    width: 100%; /* Ensure the controls take full width */
    text-align: center; /* Center the content inside */
  }
  
  .game-options {
    margin-top: 20px; /* Add spacing above the game options */
  }