body {
    font-family: Arial, sans-serif;
    background-image: url('../../assets/bluebg.png'); 
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    justify-content: center;
  }

  .screen {
    display: none;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    color: #4e5880;
  }

  .screen.active { display: block; }

  h2 { margin-bottom: 10px; }

  button {
    margin: 8px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background: #7385cc;
    color: white;
    cursor: pointer;
    font-size: 14px;
  }

  button:hover {
    background: #242b36;
  }

  .small {
    font-size: 13px;
    margin-top: 10px;
    color: #666;
  }
  .lock1 {
    font-size: 11px;
    color: #aaa;
  }